@font-face {
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Cygre'),
        url(../fonts/TT-Firs-Neue-Bold.ttf),
        // url(../fonts/);
}

@font-face {
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Cygre'),
        url(../fonts/TT-Firs-Neue-Regular.ttf),
        // url(../fonts/);
}